<div class="display-hero">

  <!-- Display or Edit Hero -->
  <div *ngIf="!heroSettings.isBeingEdited">
    {{hero.name}}
  </div>
  <input *ngIf="heroSettings.isBeingEdited" [(ngModel)]="heroCopy.name"/>
  <div class="hero-id">{{hero.uid}}</div>
  <div>
    <button *ngIf="heroSettings.isBeingEdited" (click)="updateHero()">Update Hero</button>
    <button (click)="toggleEditable()">
      <span *ngIf="!heroSettings.isBeingEdited">Edit Hero</span>
      <span *ngIf="heroSettings.isBeingEdited" (click)="resetCopy()">Cancel Edit</span>
    </button>
  </div>
  <app-delete-hero [hero]="hero" (deleteHeroEvent)="doDelete($event)"></app-delete-hero>
</div>
