<div class="main-content">
  <div class="container">
    <div>Logged Out</div>
    <div>Logged In</div>
    <app-create-hero (newHeroCreated)="appendToList($event)"></app-create-hero>
    <app-display-hero-list [heroes]="heroes"></app-display-hero-list>
  
    <app-sign-up></app-sign-up>
  
    <div style="height: 200px; background: pink">
      STUFF
    </div>
  
    <div style="height: 200px; background: pink">
      STUFF
    </div>
  
    <div style="height: 200px; background: pink">
      STUFF
    </div>
  
    <div style="height: 200px; background: pink">
      STUFF
    </div>
  
    <div style="height: 200px; background: pink">
      STUFF
    </div>
  
    <div style="height: 200px; background: pink">
      STUFF
    </div>
  
    <div style="height: 200px; background: pink">
      STUFF
    </div>
  
    <div style="height: 200px; background: pink">
      STUFF
    </div>
  </div>
</div>