/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.app-full-width {
    width: 100%;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.app-page {
    padding-top: 50px;
}